.card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 325px;
  height: 328px;
}

.card__title-and-like {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__title {
  margin: 0;
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding: 2px 12px;
  top: 15px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}

.card__like-btn {
  background-image: url(../../assets/like-btn.svg);
  background-size: cover;
  background-color: transparent;
  width: 18px;
  height: 15px;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  top: 15px;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url(../../assets/like-btn-liked.svg);
}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}
