.weather-card {
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.weather-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weather-card__temp {
  position: absolute;
  bottom: 20px;
  left: 16px;
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 36px;
  line-height: 1.1;
  color: white;
}
