.header {
  display: flex;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 28px;
}

.header__side {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__place {
  margin: 0;
}

.header__add-clothes-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  margin-left: 20px;
  padding: 0;
}

.header__link {
  display: flex;
  text-decoration: none;
  color: black;
  align-items: center;
}

.header__username {
  margin-left: 20px;
  margin-right: 12px;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
}

.header__button {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 24px;
}
