.sidebar {
  min-width: 229px;
  margin-top: 47px;
}

.sidebar__row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}

.sidebar__username {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1;
  margin: 0;
}

.sidebar__changeprofile {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

.sidebar__logout {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-style: bold;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
